<meta charset="UTF-8">
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<div id="app">
    <h2>Usando condicionais</h2><br><br><br>
    <div>
        <h3>Usando v-if, v-else-if e v-else para condicionais</h3><br><br>
        <p v-if="logado">Usuário Logado: {{nome}}</p>
        <p v-else-if="anonimo">Usuário anônimo</p>
        <p v-else>Nenhum usuário logado</p>

        <button @click="logado = !logado"> {{logado ? 'Sair' : 'Entrar'}} </button>
        <input type="checkbox" v-model="anonimo">Anônimo



        <h3>Usando v-show para condicionais</h3><br><br>

        <p>v-show só seta display block ou none, enquanto que v-if remove o elemento da página.</p>
        <hr>
    </div>

    <h2>Usando listas</h2>
    <div>
        <h4>Array de cores:</h4>
        <ul>
            <li v-for="(cor, i) in cores" :cor='cor'> {{i + 0}} - {{cor}} </li>
        </ul>

        <hr>

        <h4>Array de cores na tag template:</h4> <!--template não cria nenhuma tag em volta do conteúdo-->
        <template v-for="(cor, i) in cores">
            {{i + 0}} - {{cor}}
        </template>

        <hr>

        <h4>Array de objetos:</h4> <!--template não cria nenhuma tag em volta do conteúdo-->
        <ul>
            <li v-for="pessoa in pessoas" :key="pessoa.cpf"> <!--:key serve para facilitar alterações de ordem na lista (caso elementos puderem ser alterados)-->
                <template v-for="(valor, chave, index) in pessoa">
                    {{chave}} = {{valor}} ({{index + 1}})
                </template>
            </li>
        </ul>

    </div>
    

    <footer v-show="logado"> 
        Desenvolvido para você!
    </footer>

</div>

<style>
    ul{
        list-style: none;
    }
</style>

<script>
    new Vue({
        el: '#app',
        data:{
            nome: "Maria",
            logado: false,
            anonimo: false,

            cores: ['vermelho', 'verde', 'amarelo', 'azul'],
            pessoas:[
                {
                    cpf: '11111111111',
                    nome: 'Ana', 
                    idade: 26, 
                    peso: 59
                },
                {
                    cpf: '00000000000',
                    nome: 'Guilherme', 
                    idade: 23, 
                    peso: 64
                }
            ]
        }
    })
</script>